<section class="row-alt">
  <div class="lead container">
    <h1>My Story</h1>
      <p>I am happy to share my story with anyone who is interested. Read on to learn more...</p>

  </div>
</section>

<section class="row">
  <div class="grid">
    <section id="Matt">
      <div class="col-2-3">
        <h2>Matthew Arvidson</h2>
        <h5>My journey...</h5>
        <p>Hi! Thanks for visiting my page.  I am a software developer looking for new opportunities to grow my skills and connect with like minded people.
          I started learning how to code after I worked as an inside sales representative for a tech company in San Diego, CA.  I always wanted to learn, but never really
          thought it was possible for me until I met a few of the engineers at the company.  Once I started to learn, I never looked back.
          Now I spend my days working on personal projects, trying to climb the ranks on <span><strong><a href="https://www.codewars.com/users/mattdavida" target="_blank">codewars</a></strong></span>, and just trying to learn everything I can to be a better coder.

        </p>
      </div><!--

    --><aside class="col-1-3">
    <!--We’re placing a <div> element inside the <aside> element with the class attribute value of
        col-1-3 because we’ll want the padding inherited from the col-1-3 class to be outside of the
        border on the <div> element -->
        <div class="info">
          <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/14666043_986636451480283_1751241149445992003_n.jpg?oh=d8f392d4ea02dfa95e8d84b18f6a14bf&oe=59590A28">

          <ul class="fa-ul">
            <li><a href="https://www.facebook.com/matthew.arvidson.1" target="_blank"><i class="fa fa-facebook"></i> Find me on Facebook</a></li>
            <li><a href="https://www.linkedin.com/in/matthew-arvidson-230b25128?trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-linkedin"></i> Find me on LinkedIn</a></li>
            <li><a href="https://github.com/mattdavida" target="_blank"><i class="fa fa-github"></i> Find me on GitHub</a></li>
          </ul>
        </div>
      </aside>

  </div>
