<section class="teaser row">
  <div class="grid project-info">

  <section class="col-1-3 projects">
    <h5>Tripsy<h5>
      <a href="https://warm-shore-75042.herokuapp.com/" target="_blank">
        <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t31.0-8/17835007_1114066065403987_5611510458128879792_o.jpg?oh=54343e424d86c85d71e4ec2cd7fd947e&oe=5954DC84">
        <h3>Tripsy</h3>
      </a>
      <p>An awesome application developed using the M.E.A.N stack (mongoDB, express, angular, node) to help users keep their trip plans more organized.</p>
     </section><!--

  --><section class="col-1-3 projects">
     <h5>Brain Eaters<h5>
       <a href="http://mattdavida.x10host.com/brain_eaters/brainEaters.html" target="_blank">
         <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t31.0-8/17966599_1120319858111941_9109454623272387503_o.jpg?oh=5e21a44ae92e0e7b186298d0053cd9ae&oe=59905922">
         <h3>Brain Eaters</h3>
       </a>
         <p>One of my first HTML5 games. I built this using javascript</p>
   </section><!--

   --><section class="col-1-3 projects">
     <h5>Wiki search app<h5>
       <a href="http://mattdavida.x10host.com/Wiki%20Viewer/wiki.html" target="_blank">
         <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t31.0-8/17854992_1114071998736727_1329087653970813732_o.jpg?oh=4073ea44eec84404f14e13f3262a166e&oe=598ED65D">
         <h3>Wiki search app</h3>
       </a>
          <p>A search application using Wikipedia's <a href="https://www.mediawiki.org/wiki/API:Main_page">MediaWiki action API<a></p>
   </section><!--

   --><section class="col-1-3 projects">
     <h5>Random quote generator<h5>
       <a href="http://mattdavida.x10host.com/RandomQuote/randomQuote.html" target="_blank">
         <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t31.0-8/17835002_1116405008503426_5936275417318976254_o.jpg?oh=c859256b94b97c557980ba775e6d608a&oe=5990F445">
         <h3>Random quote generator</h3>
       </a>
         <p>A random quote generator built using <a href="http://forismatic.com/en/api/" target="_blank">Forismatic</a>.com's API for quote generation.</p>
         <ul>
    </section><!--

    --><section class="col-1-3 projects">
      <h5>jQuery calculator<h5>
        <a href="http://mattdavida.x10host.com/Calculator/calculator.html" target="_blank">
          <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t31.0-8/17880635_1116418108502116_2324925578986372690_o.jpg?oh=9ebbd4e2331ce583da9bcdc6cf00d18e&oe=5989D238">
          <h3>my first calculator</h3>
        </a>
        <p>Add, subtract, multiply and divide numbers</p>
    </section><!--

    --><section class="col-1-3 projects">
      <h5>jQuery local weather application<h5>
        <a href="http://mattdavida.x10host.com/Official%20weather%20project/main.html" target="_blank">
          <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t31.0-8/17834175_1116420515168542_1295379869645747016_o.jpg?oh=76db446511f18aa22a9aacf5d6f19a87&oe=5951E5DB">
          <h3>jQuery local weather application</h3>
        </a>
           <p>a local weather application builit using <a href="https://openweathermap.org/" target="_blank">openweathermap</a>'s local weather API</p>
    </section><!--

    --><section class="col-1-3 projects">
          <h5>Tic Tac Toe<h5>
            <a href="http://mattdavida.x10host.com/my_game/" target="_blank">
              <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t31.0-8/17880070_1116427165167877_4881900051059323122_o.jpg?oh=4c5b75d0b18d57b9d10f8e977bcb03d1&oe=59506D2E">
              <h3>Tic Tac Toe (No A.I.)</h3>
            </a>
               <p>A simple version of tic tac toe</p>
        </section>


  </div>
</section>
